# This is a basic workflow to help you get started with Actions

name: GitHub Actions Demo

# Controls when the workflow will run
on: [push]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  my_testing:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo Hello, world!

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      - name: Run a one-line script
        run: echo 3 eXAMPLE!
  my_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script deploy
        run: echo Hello, world deploy!

      - name: Run a multi-line script deploy
        run: |
            echo Add other actions to build,
            echo test, and deploy your project.
      - name: Run a one-line script deploy
        run: echo 3 eXAMPLE deploy!          
